@tailwind base;

@tailwind components;

@tailwind utilities;

.btn-blue {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  
  .btn-blue:focus {
    @apply outline-none shadow-outline;
  }

  